@import url("https://fonts.googleapis.com/css?family=Manrope&display=swap");

:root {
	--Light-cyan: hsl(193, 38%, 86%);
	--Neon-Green: hsl(150, 100%, 66%);
	--Grayish-Blue: hsl(217, 19%, 38%);
	--Dark-Grayish-Blue: hsl(217, 19%, 24%);
	--Dark-Blue: hsl(218, 23%, 16%);
	--body-font: "Manrope", sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	display: flex;
	background-color: var(--Dark-Blue);
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
}

.main-container {
	background-color: var(--Dark-Grayish-Blue);
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 350px;
	height: 350px;
	border-radius: 12px;
}

.advice-num {
	text-transform: uppercase;
	margin-top: 2em;
	color: var(--Neon-Green);
}

.advice {
	font-size: 28px;
	color: var(--Light-cyan);
	font-weight: 800;
	margin-inline: 0.5rem;
}

.line {
	width: 90%;
	padding-bottom: 3rem;
}

.button {
	position: absolute;
	background-color: var(--Neon-Green);
	background-image: url(/img/icon-dice.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	cursor: pointer;
	bottom: -25px;
}